html{
    font-family: "Poppins", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-gray:#2c2d3f;
    --light-gray:#888888;
    --white:#ffffff;
    --blue:#1a76d1;
    --black:#000000;
}

ul{
    list-style: none;   
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

ul li{
    list-style: none;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.w-3{
    width: 33.33%;
}

a{
    text-decoration: none;
}

/* HEADER */

.topbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topbar ul{
    display: flex;
    align-items: center;
}

.topbar ul li{
    padding: 15px 15px;
    align-items: center;
}

.topbar ul li:hover{
    color: #1a76d1;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
}

.contact-info{
    display: flex;
    padding: 15px 15px 15px 0px;
    flex-direction: row-reverse;    
}

.contact-info p:first-child:hover{
    color: var(--blue);
    cursor: pointer;
}

.contact-info p:first-child{
    padding: 15px 15px;
}

.contact-info p:last-child{
    padding: 15px 15px 15px 0px;
}

.contact-info p:last-child:hover{
    color: var(--blue);
    cursor: pointer;
}

.hr{
    color: var(--light-gray);
}

/* MENUBAR */

.logo{
    max-width: 178px;
    max-height: 37px;
    margin: 15px 15px;
}

.menubar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400px;

}

.menubar ul li{
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
}

.menubar ul li:first-child{
    color: var(--blue);
}

.menubar ul li:hover{
    color:var(--blue);
    border-bottom: #1a76d1 solid 3px;
    cursor: pointer;
}

.container .btn{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

.container .btn:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
}

/* MAIN */

/* SLIDER */

.slider{
    background-image: url(/Image/Image/slider3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    align-items: stretch;
}

.slider .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 150px;
    width: 600px;
}

.text h1{
    line-height: 42px;
    font-size: 38px;
    font-weight: 700;
    color: var(--dark-gray);
}
h1 span{
    color: var(--blue);
}

.text p{
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray);
    margin: 27px 0 0;
}

.btns{
    margin-top: 30px;
}

.btns .btns1{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-weight: 500;   
}

.btns .btns1:hover{
    background-color: var(--black);
}

.btns .btns2{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin-left: 15px;
}

.btns .btns2:hover{
    background-color: var(--blue);
}

/* SERVICE */

.services{
    position: relative;
    top: -120px;
}

.service-contant{
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    margin: 0 15px;
    border-radius: 4px;
} 

.service-timetable{
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    margin: 0 15px;
    border-radius: 4px;
}

.service-contant span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.service-contant h4{
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.service-contant p{
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 22px;
    font-weight: 400;
}

.service-contant a{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.service-contant a:hover{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.service-timetable span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;   
}

.service-timetable h4{
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.service-timetable .timetable{
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 18px;
    font-weight: 400;
    line-height: 22px;
}

.service-timetable a{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.service-timetable a:hover{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

/* HELTH-SERVICES */

.health-service{
    justify-content: center;
    display: flex;
}

.section-title{
    width: 610px;
    /* margin: o auto;   */
    text-align: center;
}

.section-title h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.section-title p{
    font-size: 15px;
    color: var(--light-gray);
    margin-top: 15px;
    font-weight: 400;
    line-height: 24px;
}

/* TREATMENT */

.emergency-help .ambulance{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--light-gray) solid 1px;
}

.enriched-pharmecy .pharmecy{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--light-gray) solid 1px;
}

.medical-treatment{
    display: flex;
}

.medical-treatment .stethoscope{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--light-gray) solid 1px;
}