html {
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #2c2d3f;
    --light-gray: #888888;
    --white: #ffffff;
    --blue: #1a76d1;
    --black: #000000;
    --gray: #757575;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

ul li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}


a {
    text-decoration: none;
}

.backtotop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px 18px;
    background-color: var(--blue);
    font-size: 14px;
    color: var(--white);
    border-radius: 3px;
    transition: 0.4s;
}

.backtotop:hover{
    background-color: var(--black);
}


/* HEADER */

header{
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}

.topbar{
    padding: 15px 0;
}

.topbar-content{
    display: flex;
    justify-content: space-between;
}

.topbar-menu ul{
    display: flex;
}

.topbar-menu ul li{
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray);
    transition: 0.4s;
}

.topbar-menu ul li:hover{
    color: var(--blue);
    cursor: pointer;
}

.contact-info{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray);
}

.contact-info i{
    color: var(--blue);
    padding-right: 5px;
}

.contact-info :nth-child(1){
    margin-left: 25px;
}

.contact-info :nth-child(2):hover{
    color: var(--blue);
    cursor: pointer;
}

hr {
    background-color: var(--light-gray);
}

/* NAVBAR */

.navbar-logo{
    max-width: 178px;
    max-height: 37px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu ul{
    display: flex;
}

.navbar-menu ul li {
    padding: 25px 18px;
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 500;
}

.navbar-menu ul li:first-child{
    border-bottom: 3px solid var(--blue);
} 

.navbar-menu ul li:hover{
    border-bottom: 3px solid var(--blue);
}

.navbar-menu ul li:hover a{
    color: var(--blue);
    cursor: pointer;
    transition: 0.4s;
}

.navbar-menu ul li:hover i{
    color: var(--blue);
    cursor: pointer;
}

.navbar-menu a{
    color: var(--dark-gray);
    font-size: 14px;
    font-weight: 500;
}

.navbar-menu i{
    font-size: 12px;
    color: var(--dark-gray);
}

.navbar-btn{
    padding: 13px 28px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400px;
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    transition: 0.4s;
}

.navbar-btn:hover{
    background-color: var(--black);
    cursor: pointer;
}


/* MAIN */

/* SLIDER */

.slider {
    background-image: url(/Image/slider3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    align-items: stretch;
}

.slider .slider-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 150px;
    width: 600px;
}

.slider-text h1 {
    line-height: 42px;
    font-size: 38px;
    font-weight: 700;
    color: var(--dark-gray);
}


.slider-text h1 span {
    color: var(--blue);
}

.slider-text p {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray);
    padding-top: 27px;
}

.slider-btns {
    margin-top: 30px;
}

.slider-btns .btns1 {
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

.slider-btns .btns1:hover {
    background-color: var(--black);
}

.slider-btns .btns2 {
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin-left: 15px;
}

.slider-btns .btns2:hover {
    background-color: var(--blue);
}

/* SERVICE */

.services {
    position: relative;
    top: -120px;
}

.services-content {
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    border-radius: 5px;
}

.services-content:nth-child(1){
    position: relative;
    margin-right: 15px;
}

.services-ambulance{
    position: absolute;
    left: 320px;
    bottom: -30px;
    font-size: 110px;
    color: var(--white);
    opacity: 0.2;
    z-index: 10;
}

.services-content:nth-child(2){
    position: relative;
    margin: 0 15px;
}

.services-clipboard{
    position: absolute;
    right: 450px;
    bottom: -30px;
    font-size: 110px;
    color: var(--white);
    opacity: 0.2;
    z-index: 10;
}

.services-timetable {
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    margin-left: 15px;
    border-radius: 5px;
    position: relative;
}

.services-clock{
    position: absolute;
    right: 60px;
    bottom: -35px;
    font-size: 110px;
    color: var(--white);
    opacity: 0.2;
    z-index: 10;
}

.services-content span {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-content h4 {
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.services-content p {
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 22px;
    font-weight: 400;
}

.services-content a {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-arrow {
    font-size: 14px;
    padding-left: 5px;
}

.services-content a:hover {
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.services-timetable span {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-timetable h4 {
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.services-timetable .timetable {
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 18px;
    font-weight: 400;
    line-height: 22px;
}

.services-timetable a {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-timetable a:hover {
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

/* HELTH-SERVICES */

.health-text {
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}

.section-title {
    width: 610px;
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.section-title p {
    font-size: 15px;
    color: var(--gray);
    margin-top: 15px;
    font-weight: 400;
    line-height: 24px;
}

/* TREATMENT */

.emergency-treatment {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
}

.emergency-treatment .health-logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--light-gray) solid 1px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.health-logo i {
    font-size: 45px;
    color: var(--blue);
    z-index: 2;
    transition: 1s;
}

.emergency-treatment:hover i {
    color: var(--white);
}

.health-treatment .w-3:nth-child(2) .health-logo::before {
    content: "";
}

.emergency-treatment:hover .health-logo {
    background-color: var(--blue);
    cursor: pointer;
}

.emergency-treatment .health-logo:hover::before {
    color: var(--white);
}

.emergency-treatment h3 {
    font-size: 21px;
    font-weight: 600;
    color: var(--dark-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}

.emergency-treatment p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--gray);
}

/* COUNTDOWN */

.countdown {
    background-image: url(/Image/fun-bg.jpg);
    height: 295px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-countdown {
    height: 295px;
    width: 100%;
    background-color: rgba(26, 118, 209, 0.7);
    align-content: center;
}

.countdown-content {
    position: relative;
    z-index: 2;
}

.countdown-content .countdown-text {
    width: 285px;
    display: flex;
    z-index: 9;
}

.countdown-text .countdown-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--white);
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.countdown-logo {
    font-size: 25px;
    color: var(--white);
    z-index: 2;
}

.countdown-text:hover .countdown-logo {
    background-color: var(--white);
    border: none;
}

.countdown-text:hover i {
    color: var(--blue);
}

.countdown-number {
    padding-left: 20px;
}

.countdown-text h3 {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

.countdown-text p {
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
}

/* WHY-CHOOSE */

.why-choose {
    padding-bottom: 100px;
}

.why-choose-content {
    display: flex;
}

.why-choose-text {
    width: 570px;
    height: 360px;
    padding: 0 15px;
}

.why-choose-notes {
    display: flex;
}

.why-choose-notes .notes-1 {
    margin: 0 15px;
}

.why-choose-notes .notes-1 ul li::before {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    color: var(--blue);
    padding-right: 10px;
}

.why-choose-notes .notes-2 {
    margin: 0 15px;
}

.why-choose-notes .notes-2 ul li::before {
    content: "\f144";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    color: var(--blue);
    padding-right: 10px;
}

.why-choose-img {
    width: 570px;
    height: 360px;
    padding: 0 15px;
    background-image: url(/Image/video-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.why-choose-text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-gray);
    padding-bottom: 20px;
}

.why-choose-text .line {
    width: 55px;
    height: 2px;
    background-color: var(--blue);
    margin-bottom: 24px;
}

.why-choose-text p {
    padding-bottom: 35px;
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.why-choose-text .why-choose-notes {
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* CONTACT */

.contact {
    background-image: url(/Image/call-bg.jpg);
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-contact {
    height: 450px;
    width: 100%;
    background-color: rgba(26, 118, 209, 0.7);
    align-content: center;
}

.contact-text {
    width: 580px;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
}

.contact-text h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    color: var(--white);
}

.contact-text p {
    margin: 30px 0px;
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.contact-button .contact-now {
    padding: 13px 28px;
    color: var(--blue);
    background-color: var(--white);
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}

.contact-button .contact-now:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.4s;
}

.contact-button .learn-more {
    padding: 13px 28px;
    border: 1px solid var(--white);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--blue);
}

.contact-button .learn-more {
    color: var(--white);
}

.learn-more a{
    color: var(--white);
}

.learn-more i{
    padding-left: 5px;
}

.contact-button .learn-more:hover {
    background-color: var(--white);
}

/* GALLRY */

.gallary {
    padding-bottom: 100px;
}

.gallary-image {
    background-image: url(/Image/pf1.jpg);
    height: 234px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallary .w-4:nth-of-type(2) .gallary-image {
    background-image: url(/Image/pf2.jpg);
}

.gallary .w-4:nth-child(3) .gallary-image {
    background-image: url(/Image/pf3.jpg);
}

.gallary-image .w-4:nth-child(4) .gallary-image {
    background-image: url(/Image/pf4.jpg);
}

.gallary-image:hover .gallary-overlay {
    display: block;
    transform: 1s;
}

.gallary-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(26, 118, 209, 0.7);
    display: none;
}

.gallary .w-4 {
    padding: 0 7px;
}


.btn-view-details {
    padding: 13px 28px;
    border: 1px solid var(--white);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--white);
    color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-view-details:hover {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transform: 1s;

}

/* SINGAL-SERVICES */

.singal-service {
    padding-bottom: 100px;
}

.singal-service .singal-service-content {
    display: flex;
}

.singal-service-text {
    display: flex;
    margin: 30px 0;
    padding-right: 30px;
}

.singal-service-text i {
    font-size: 45px;
    color: var(--blue);
}

.singal-service-text .singal-service-per {
    padding-left: 30px;
}

.singal-service-per a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.singal-service-text .singal-service-per:hover a {
    color: var(--blue);
}

.singal-service-per p {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--gray);
}


/* PRISING */

.pricing {
    background-color: #f9f9f9;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.pricing .health-text {
    padding-top: 100px;
}

.pricing-card-content .cut {
    font-size: 65px;
    color: var(--blue);
}

.pricing-card .pricing-card-content {
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    margin: 0 15px;
    padding: 45px 35px;
    text-align: center;
}

.pricing-card-content h4 {
    font-size: 21px;
    font-weight: 600;
    color: var(--dark-gray);
    padding-top: 30px;
    padding-bottom: 15px;
}

.pricing-card-amount span {
    font-size: 36px;
    font-weight: 600;
    color: var(--blue);
    padding-right: 8px;
}

.pricing-card-amount p {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-gray);
    padding-bottom: 30px;
}

.pricing-card-content ul li {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}

.pricing-card-content ul {
    padding-bottom: 25px;
}

.check-icon {
    color: var(--blue);
    font-size: 17px;
}

.xmark-icon {
    font-size: 17px;
}

.pricing-card-btn {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    padding: 13px 0;
    width: 100%;
    transition: 0.4s;
}

.pricing-card-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.pricing-card-btn a {
    text-decoration: none;
    color: var(--white);
}


/* NEWS-BLOG */

.news-blog {
    margin-bottom: 100px;
}

.news-blog-content {
    margin: 0 15px;
    box-shadow: 0 4px 8px 0 rgba(218, 218, 218), 
    0 6px 20px 0 rgba(243, 243, 243);
}

.news-blog-img img {
    height: auto;
    width: 100%;
}

.news-blog-text {
    padding: 30px;
}

.news-blog-text .news-blog-date {
    padding: 4px 15px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 118px;
}

.news-blog-text a {
    text-decoration: none;
    color: var(--dark-gray);
}

.news-blog-text h2 {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}

.news-blog-text p {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: var(--light-gray);
}

/* CLIENTS */

.clients {
    background-image: url(/Image/client-bg.jpg);
    width: 100%;
    max-height: 255px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clients-overlay {
    height: 255px;
    width: 100%;
    background-color: rgba(26, 118, 209, 0.7);
    align-content: center;
}

.clients-content {
    display: flex;
    justify-content: space-between;
}

.client-compny img {
    width: 220px;
    cursor: pointer;
    padding: 0 35px;
    text-align: center;
}

/* APPOINMENT */

.appoinment {
    height: 530px;
}

.news-blog-content:hover {
    border-bottom: 3px solid var(--blue);
}

table input {
    padding: 18px 18px;
    width: 255px;
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

table select {
    padding: 18px 18px;
    width: 255px;
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

table textarea {
    width: 100%;
    height: 200px;
    padding: 18px;
    border: 1px solid #e8e8e8;
    text-transform: capitalize;
    border-radius: 4px;
    font-family: "poppins";
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.mtrb {
    margin: 8px 10px 8px 0;
}

.mtbl {
    margin: 8px 0px 8px 10px;

}

.appoinment-img {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 15px;
}

.appoinment-btn {
    display: flex;
}

.appoinment-btn .book-appoinment {
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 20px;
}

.appoinment-btn .book-appoinment:hover {
    background-color: var(--black);
    color: var(--white);
}

.appoinment-btn p {
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 35px;
    margin-left: 10px;
}

/* NEWSLATTER */

.newslatter {
    height: 285px;
    background-color: #edf2ff;
    align-content: center;
}

.subscribe-text {
    margin-left: 30px;
}

.subscribe-text h6 {
    margin-bottom: 10px;
    color: var(--dark-gray);
    font-size: 22px;
    font-weight: 500;
}

.subscribe-text p {
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}

.newslatter-form {
    margin-left: 50px;
}

.newsletter-btn {
    padding: 20px 50px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 15px;
}

.newsletter-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.newslatter-form input {
    padding: 20px 50px;
    border-radius: 4px;
    border: 1px solid var(--white);
}


/* FOOTER */

.footer {
    background-color: var(--blue);
    color: var(--white);
}

.footer-content {
    padding: 100px 15px;
}

.footer-content h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-content .h2-line {
    width: 50px;
    height: 3px;
    margin-bottom: 40px;
    background-color: var(--white);
}

.footer-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-icon{
    margin-top: 20px;
}

.footer-icon a {
    color: var(--white);
    font-size: 14px;
}


.facebook:hover a,
.google:hover a,
.twitter:hover a,
.vimeo:hover a,
.pinterest:hover a{
    color: var(--blue);
}

.facebook,
.google,
.twitter,
.vimeo,
.pinterest {
    height: 35px;
    width: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook:hover,
.google:hover,
.twitter:hover,
.vimeo:hover,
.pinterest:hover{
    background-color: var(--white);
    transition: 0.4s;
}

.footer-links{
    display: flex;
}

.footer-links a{
    color: var(--white);
}

.footer-links ul li{
    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
}

.footer-links ul:nth-child(1) li{
    padding-right: 50px;
}

.footer-links ul li:hover{
    padding-left: 7px;
    cursor: pointer;
    transition: 0.4s;
}

.footer-content .timetable{
    margin-top: 10px;
}

.footer-content .timetable ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.footer-email{
    display: flex;
    border: 1px solid var(--white);
    border-radius: 5px;
    margin-top: 15px;
}

.footer-email input{
    padding: 5px 0 5px 8px;
    background-color: var(--blue);
    border: 1px solid var(--white);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    width: 197px;
}

.footer-email input::placeholder{
    color: var(--white);
}

.footer-btn{
    height: 50px;
    width: 50px;
    background-color: var(--white);
    border: none;
    color: var(--blue);
    font-size: 20px;
}

.footer-btn:hover{
    color: var(--black);
    transition: 0.4s;
}