html{
    font-family: "Poppins", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-gray:#2c2d3f;
    --light-gray:#888888;
    --white:#ffffff;
    --blue:#1a76d1;
    --black:#000000;
    --gray:#757575;


}

ul{
    list-style: none;   
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

ul li{
    list-style: none;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.w-2{
    width: 50%;
}

.w-3{
    width: 33.33%;
}

.w-4{
    width: 25%;
}


a{
    text-decoration: none;
}

/* HEADER */

.topbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topbar ul{
    display: flex;
    align-items: center;
}

.topbar ul li{
    padding: 15px 15px;
    align-items: center;
}

.topbar ul li:hover{
    color: #1a76d1;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
}

.contact-info{
    display: flex;
    padding: 15px 15px 15px 0px;
    flex-direction: row-reverse;    
}

.contact-info p:first-child:hover{
    color: var(--blue);
    cursor: pointer;
}

.contact-info p:first-child{
    padding: 15px 15px;
}

.contact-info p:last-child{
    padding: 15px 15px 15px 0px;
}

.contact-info p:last-child:hover{
    color: var(--blue);
    cursor: pointer;
}

.hr{
    color: var(--light-gray);
}

/* MENUBAR */

.logo{
    max-width: 178px;
    max-height: 37px;
    margin: 15px 15px;
}

.menubar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400px;

}

.menubar ul li{
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
}

.menubar ul li:first-child{
    color: var(--blue);
}

.menubar ul li:hover{
    color:var(--blue);
    border-bottom: #1a76d1 solid 3px;
    cursor: pointer;
}

.container .btn{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

.container .btn:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
}

/* MAIN */

/* SLIDER */

.slider{
    background-image: url(/Image/Image/slider3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    align-items: stretch;
}

.slider .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 150px;
    width: 600px;
}

.text h1{
    line-height: 42px;
    font-size: 38px;
    font-weight: 700;
    color: var(--dark-gray);
}
h1 span{
    color: var(--blue);
}

.text p{
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray);
    margin: 27px 0 0;
}

.btns{
    margin-top: 30px;
}

.btns .btns1{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    font-weight: 500;   
}

.btns .btns1:hover{
    background-color: var(--black);
}

.btns .btns2{
    padding: 13px 28px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin-left: 15px;
}

.btns .btns2:hover{
    background-color: var(--blue);
}

/* SERVICE */

.services{
    position: relative;
    top: -120px;
}

.services-content{
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    margin: 0 15px;
    border-radius: 5px;
} 

.services-timetable{
    background-color: #1a76d1;
    color: var(--white);
    padding: 30px;
    margin: 0 15px;
    border-radius: 5px;
}

.services-content span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-content h4{
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.services-content p{
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 22px;
    font-weight: 400;
}

.services-content a{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-content a:hover{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.services-timetable span{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;   
}

.services-timetable h4{
    color: var(--white);
    font-size: 20px;
    margin-top: 13px;
    font-weight: 600;
}

.services-timetable .timetable{
    color: var(--white);
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 25px;
    line-height: 18px;
    font-weight: 400;
    line-height: 22px;
}

.services-timetable a{
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.services-timetable a:hover{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

/* HELTH-SERVICES */

.health-text{
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}

.section-title{
    width: 610px;
    /* margin: o auto;   */
    text-align: center;
}

.section-title h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-gray);
    margin-bottom: 24px;
}

.section-title p{
    font-size: 15px;
    color: var(--gray);
    margin-top: 15px;
    font-weight: 400;
    line-height: 24px;
}

/* TREATMENT */

.emergency-treatment{
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
}

.emergency-treatment .health-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: var(--light-gray) solid 1px;
}

.emergency-treatment .health-logo:hover{
    border: none;
    background-color: var(--blue);
}

.emergency-treatment h3{
    font-size: 21px;
    font-weight: 600;
    color: var(--dark-gray);
    padding-top: 20px;
    padding-bottom: 20px;
}

.emergency-treatment p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--gray);
}

/* COUNTDOWN */

.countdown{
    background-image: url(/Image/Image/fun-bg.jpg);
    height: 295px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay-countdown{
    height: 295px;
    width: 100%;
    background-color: var(--blue);
    opacity: 0.7;
    align-content: center;
}

.countdown-content .countdown-text{
    width: 285px;
    display: flex;
}

.countdown-text .countdown-logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: var(--white) 2px solid;
    background-color: none;
}

.countdown-text .countdown-logo:hover{
    background-color: var(--white);
    border: none;
}

.countdown-number{
    padding-left: 20px;
}

.countdown-text h3{
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

.countdown-text p{
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
}

/* WHY-CHOOSE */

.why-choose{
    padding-bottom: 100px;
}

.why-choose-content{
    display: flex;
}

.why-choose-text{
    width: 570px;
    height: 360px;
    padding: 0 15px;
}

.why-choose-notes{
    display: flex;
}

.why-choose-notes .notes-1{
    margin: 0 15px;
}

.why-choose-notes .notes-2{
    margin: 0 15px;
}

.why-choose-img{
    width: 570px;
    height: 360px;
    padding: 0 15px;
    background-image: url(/Image/Image/video-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.why-choose-text h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-gray);
    padding-bottom: 20px;
}

.why-choose-text .line{
    width: 55px;
    height: 2px;
    background-color: var(--blue);
    margin-bottom: 24px;
}

.why-choose-text p{
    padding-bottom: 35px;
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.why-choose-text .why-choose-notes{
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* CONTACT */

.contact{
    background-image: url(/Image/Image/call-bg.jpg);
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay-contact{
    height: 450px;
    width: 100%;
    background-color: var(--blue);
    opacity: 0.7;
    align-content: center;
}

.contact-text{
    width: 580px;
    text-align: center;
}

.contact-text h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    color: var(--dark-gray);
}

.contact-text p{
    margin: 30px 0px;
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.contact-button .contact-now{
    padding: 13px 28px;
    color: var(--blue);
    background-color: var(--white);
    border-radius: 4px;
    border: none;
    font-weight: 500; 
    margin-right: 20px;
}

.contact-button .contact-now:hover{
    background-color: var(--blue);
    color: var(--white);
}

.contact-button .learn-more{
    padding: 13px 28px;
    border-radius: 4px;
    border:var(--white) 1px solid;
    font-weight: 500;
    background-color: var(--blue);
}

.contact-button .learn-more a{
    color: var(--white);
}

.contact-button .learn-more:hover{
    background-color: var(--white);
}